*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #54585687;
    text-align: center;
}
h1{
    text-align: center;
    color: #000000;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}

.box{
height: 18vmin;
width: 18vmin;
border-radius: 1rem;
border: none;
font-size: 8vmin;
color: #000000;

}
.Reset-btn{
    padding: 2vmin;
    border-radius: 0.8rem;
    border: none;
    font-style: initial;
}